
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
    margin: 0;
  padding: 0;
    overflow-x: hidden;
}

a {
  text-decoration: none;
}


/* Ajustes responsivos */

@media (max-width: 992px) {

  .contact-column {
    min-width: 100%;
    margin-top: 30px;
  }
  
  .map-container {
    max-width: 300px;
    margin: 15px auto 0;
  }
}

@media (max-width: 768px) {
  
  .about-section{
    flex-direction: column;
  }

  .about-right {
  z-index: 2;
  background-color: white;
  
  }

  img{
    width: 170px;
    height: auto;

  }

  .footer-column {
    min-width: 50%;
  }
  
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  
  .copyright {
    text-align: center;
  }
    .acordeon-section {
    flex-direction: column;
    padding: 2rem;
  }

  .accordion-box, .img-acordeon {
    flex: unset;
    width: 100%;
  }
}

