
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
    margin: 0;
  padding: 0;
    overflow-x: hidden;
}

a {
  text-decoration: none;
}


/* Ajustes responsivos */


@media (max-width: 768px) {
  


  img{
    width: 170px;
    height: auto;

  }
    .acordeon-section {
    flex-direction: column;
    padding: 2rem;
  }

  .accordion-box, .img-acordeon {
    flex: unset;
    width: 100%;
  }
}

