/* ACORDEÓN*/
.acordeon-section {
  display: flex;
  background-color: #383838;
  justify-content: center;
  
  padding-right: 6rem;
  flex-wrap: wrap;
}

.img-acordeon {
  flex: 1;
  display: flex;
  justify-content:left;
   z-index: 2;
   background-color: #1e1d1a;
}

.img-acordeon img {
  width: auto;
  height: 600px;
  
}

.accordion-box {
  flex: 2;
  display: flex;
  padding-top: 1.5rem ;
  padding-bottom: 1.5rem;
  padding-left: 6rem;
}

.accordion {
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-title {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  
  border: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 500;
  transition: background-color 0.3s ease;
  color: #ddd;
}

.accordion-title:hover {
  background-color: #444444;
}

.accordion-title span {
  font-size: 1.5rem;
  color: #e29025;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  padding: 0 1.5rem;
}

.accordion-content.open {
  padding: 1rem 1.5rem;
  max-height: 500px;
}

.accordion-content p {
  margin: 0;
  color: wheat;
  font-size: 1rem;
  line-height: 1.6;
}
.accordion-inner {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}
.accordion-inner p {
  flex: 1 1 60%;
  margin: 0;
}
.accordion-inner img {
  flex: 0 0 220px;
  width: 50px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}


@media (max-width: 768px){
.acordeon-section{

 gap: 0;
 flex-direction: column;
 padding: 2rem;

}

.img-acordeon img {
  width: auto;
   max-width: 100%;
  height: 100%; 
}
  .accordion-box, .img-acordeon {
    flex: unset;
    width: 100%;
  }
.accordion-box{
  padding-left: 0rem;
}

.accordion-inner p {
  text-align: center;
  
}
.accordion-inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  
}

.accordion-inner img {
  
  width: 400px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}
.accordion-content.open {
 
  max-height: 850px;
}


}