/* FeaturedProducts.css */

.gallery-container {
  padding: 4rem 2rem;

  text-align: center;
  max-width: 1800px;
  margin: 0 auto;
}

.gallery-container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #383838;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h3 {
  margin: 0.8rem 0 0.3rem;
  font-size: 1.1rem;
  color: #383838;
}

.product-card p {
  margin-bottom: 1rem;
  color: #555;
}

.product-card button {
  background-color:#e29026;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product-card button:hover {
  background-color: #f3ab4d;
}
